/* 
    Document   : arts-website
    Created on : 8-Apr-2013, 9:36:50 AM
    Author     : Amir Entezaralmahdi
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
